{
## GLOBAL VARS
"RESULTS_DIR": "/mnt/archgen/users/michel/plasmodium/08-phylogeny/vivax_nextstrain/results",
"ORGANISM": "Plasmodium vivax",
"ENTREZ_EMAIL": "michel@shh.mpg.de",

## DATA DOWNLOAD
"SEARCH_TERM": '"Plasmodium vivax"[Organism] AND ("mitochondrial"[All Fields] OR "mitochondrion"[All Fields] OR "mitochondrial"[All Fields]) AND "complete"[TI] AND ("5000"[SLEN] : "999999"[SLEN])' ,
"OUTGROUP": "LT841393.1", 

## EAGER
"CONFIG": "/mnt/archgen/users/michel/plasmodium/95-configs/plasmodium_project.config -c /mnt/archgen/users/michel/plasmodium/95-configs/paths.config",
"PROFILES": "eva,archgen,strict_map,vivax_mito,modern,genotype,debug",
"EMAIL" : "'megan_michel@eva.mpg.de'",
"ADDITIONAL_VCFs" : '"/mnt/archgen/users/michel/plasmodium/03-eager/Plasmodium_mito_capture/Plasmodium_MT_analysis/merging/vivax/results/genotyping/"', 
"REGIONS_EXCLUDE": '/mnt/archgen/users/michel/plasmodium/99-references/vivax/mitochondrion/LT635627.1_regions2exlcude.gff',
"REFERENCE_GFF": '/mnt/archgen/users/michel/plasmodium/99-references/vivax/mitochondrion/LT635627.1.gff3',

## NEXUS/ALIGNMENT GENERATION
"MISSINGNESS_THRESHOLD": 10, 
"PARTIAL_DELETION_FILTER": 100,
"TO_EXCLUDE": "/mnt/archgen/users/michel/plasmodium/08-phylogeny/plasmodium_phylogenies/vivax_mito/exclude.txt",
"FIXED_META": "/mnt/archgen/users/michel/plasmodium/08-phylogeny/plasmodium_phylogenies/vivax_mito/ncbi_meta_update.csv",

## SSLIBs
"SSLIB_vcfs": "", 
"GENOSL_TABLE": ""
}
