{
## GLOBAL VARS
"RESULTS_DIR": "/mnt/archgen/users/michel/plasmodium/08-phylogeny/falciparum_nextstrain/results",
"ORGANISM": "Plasmodium falciparum",
"ENTREZ_EMAIL": "michel@shh.mpg.de",

## DATA DOWNLOAD
"SEARCH_TERM": '"Plasmodium falciparum"[Organism] AND ("mitochondrial"[All Fields] OR "mitochondrion"[All Fields] OR "mitochondrial"[All Fields]) AND "complete"[TI] AND ("5000"[SLEN] : "999999"[SLEN])',
"OUTGROUP": "NC_002235.1", 

## EAGER
"CONFIG": "/mnt/archgen/users/michel/plasmodium/95-configs/plasmodium_project.config -c /mnt/archgen/users/michel/plasmodium/95-configs/paths.config -c /mnt/archgen/users/michel/plasmodium/95-configs/ultra.config",
"PROFILES": "eva,archgen,strict_map,falciparum_mito,modern,genotype",
"EMAIL": "megan_michel@eva.mpg.de",
"ADDITIONAL_VCFs": '"/mnt/archgen/users/michel/plasmodium/03-eager/Plasmodium_mito_capture/Plasmodium_MT_analysis/merging/falciparum/results/GenoSL/all_vcfs/"',
"REGIONS_EXCLUDE": '/mnt/archgen/users/michel/plasmodium/99-references/falciparum/mitochondrion/LR605957.1_regions2exclude.gff',
"REFERENCE_GFF": '/mnt/archgen/users/michel/plasmodium/99-references/falciparum/mitochondrion/LR605957.1.gff3',

## NEXUS/ALIGNMENT GENERATION
"MISSINGNESS_THRESHOLD": 10, 
"PARTIAL_DELETION_FILTER": 100,
"TO_EXCLUDE": "/mnt/archgen/users/michel/plasmodium/08-phylogeny/plasmodium_phylogenies/falciparum_mito/exclude.txt",
"FIXED_META": "/mnt/archgen/users/michel/plasmodium/08-phylogeny/plasmodium_phylogenies/falciparum_mito/ncbi_download_update.csv",

## SSLIBs
"SSLIB_vcfs": "TRUE", 
"GENOSL_TABLE": "/mnt/archgen/users/michel/plasmodium/08-phylogeny/plasmodium_phylogenies/falciparum_mito/geno_SL.tsv"
}